.y_loading{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    &--primary {
    width: 1em;
    height: 1em;
    border: 2px solid currentColor ;
    border-top-color: transparent;
    border-radius: 100%;
    animation: circle infinite 0.75s linear;
    }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}